 #ok{
        display:none;

    }
    #notok{
        display:none;
    }
    #ok1{
        display:none;

    }
    #notok1{
        display:none;
    }
     #ok2{
        display:none;

    }
    #notok2{
        display:none;
    }